.encabezado{

    background-color: #222222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height : 35px;
}

.titulo{
    padding: 10px;
}

.imagen-pizza{

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cuadros-medios{
display: flex;
justify-content: space-evenly;
padding: 30px;
}
.cuadro-izquierdo{
    width: 540px;
    height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.arbol-pizza{
    position: relative;
    left: 300px;
    bottom: 120px;

}

.sabores{
    
    text-align: left;
}


.rappi{

    z-index: 10;
}






.parte-inferior{

    background-color: #222222;
    color: #fff;
    text-align: left;
    font-size: 20px;
    line-height : 35px;


}